* {
    margin: 0;

}

.header {
    width: 100%;
    height: 110px;
    background-color: #1e90ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-right: 30px;
    font-size: larger;
}

.logo {
    margin-left: 20px;
}

.header a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
   
}


.c-inicio {
    margin-top: 100px;
    background-color: #ffffff;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

.left-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.right-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

.left-c p {
    margin-right: 280px;
    font-size: large;
    color: black;
}

.c-meio {
    background: linear-gradient(180deg, #1E90FF 2.46%, #00FF7F 59.93%);
    padding-bottom: 30px;
    border-bottom: 0.5px solid black;

}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    border-top: 0.5px solid black;
    color: black;
    font-size: large;
}

.card-1 {
    margin-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
}


.card-2 {
    padding-right: 20px;
    padding-left: 20px;
}

.card-3 {
    margin-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
}

.rodape {
    background-color: #00FF7F;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 80px;
}